<a href="https://colab.research.google.com/github/francisquinho777/Aula_PHP_OK/blob/main/lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nomes = [ 'ze', 'tião', 'joaquim']
nomes.append('julia')

#vários valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['ze', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [2]:
#Crie uma lista de números e 
numeros = [2, 4, 1, 6, 9, 12]
#remova o primeiro elementos da lista 
numeros.remove(numeros[0])
#remova o último elemento da lista
numeros.pop()
numeros

[4, 1, 6, 9]

In [3]:
# Crie uma lista de notas, e exiba-a da menor para o maior 
notas = [2, 10, 9, 4, 7, 3, 8]
nomes = ['Ademar', 'Maristênio', 'Luan', 'Leo', 'Pedro']
notas.sort()
nomes.sort(reverse=True)
#2 Crie uma listas de nomes de frutas e ordene-a 
nomes

['Pedro', 'Maristênio', 'Luan', 'Leo', 'Ademar']

In [4]:
#Exemplo funçao map - cria uma nova lista com o dobro 
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [6]:
#pegar cada um dos númeors e dividir por 3
nova_lista = list(map(lambda x : x/2, numeros))
nova_lista

[1.0, 2.0, 3.0, 1.5]

In [9]:
#Exemplo funçao filter - a partir de uma lista de nomes 
nomes = ['jose', 'joão', 'Maria', 'Tião', 'Luizin']
new_list = list(filter(lambda x : len(x)>5 ,nomes))
new_list

['Luizin']

In [11]:
#crie uma lista de notas, imprime as maiores que 6 
numeros = [3, 4, 9, 10, 7, 8]
newNotas = list(filter(lambda x : x >=6, notas))
newNotas

[7, 8, 9, 10]